# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Environment files
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Others
*.sqlite3
